{% extends 'ElleOLSiteBundle::layout.html.twig' %}

{% block jssetup %}
    require(['elleol/Product/index/setup'], function() {
    });
{% endblock %}

{% block content %}
<ul class="cards">
	{% for p in products %}
		<li>
			<div class="flip">
				<div class="card">
					<div class="face front">
						<img src="{{p.image}}">
					</div>
					<div class="face back">
						<h1>{{p.name}}</h1>
						<h4>{{p.description}}</h4>
						<div class="price">${{p.price}}</div>
					</div>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
{% endblock %}
