{% extends 'ElleOLAdminBundle::layout.html.twig' %}
{% form_theme form '::fields.html.twig' %}

{% block jssetup %}
    require(['lib/fileuploader', 'elleol/admin/index/setup'], function() {
    });                        
{% endblock %}

{% block content %}
	<h1>New Product <small>{{product.name}}</small></h1>
	{% set post = 'create_product' %}
	{% include 'ElleOLAdminBundle::product_form.html.twig' %}
	
{% endblock %}
